.App {
  padding: 1vw;
  // text-align: center;
}
.tag-input-form {
  display: flex;
  align-items: center;
  margin: 3vw 0;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 0.5rem 0;
  position: relative;
  &__input {
    flex: 1;
    height: 2rem;
    border: none;
    outline: none;
  }
  &__item {
    margin-right: 0.25rem;
    border: 1px solid grey;
    border-radius: 1rem;
    padding: 0.5rem;
  }
  &__delete {
    border-radius: 100%;
    border: 1px solid grey;
    font-size: 0.5rem;
    height: 1rem;
    width: 1rem;
    padding: 0;
    vertical-align: text-bottom;
    margin-left: 0.5rem;
  }
  &__auto {
    position: absolute;
    top: 60px;
    left: 0;
    width: 120px;
    height: 70px;
    border: 1px solid grey;
    li {
      list-style: none;
      padding: 0.5rem;
      border-bottom: 1px solid gray;
      &:hover {
        background-color: aliceblue;
      }
      &[data-active="true"] {
        background-color: aliceblue;
      }
    }
  }
}


// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
